.navbar{
    display: flex;
    background: #020024;
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 74%, rgba(0, 212, 255, 1) 100%);
    color: white;
    padding: 20px 80px;
    justify-content: space-between;
    align-items: center;
}